body {
  background-color: black;
  /* background-image: url(https://i.pinimg.com/736x/1a/89/81/1a8981aa5dd5b9e88002735337855cf7.jpg); */
  background-position: cover;
  background-size: cover;
 
}

code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
